GEMINI_API_KEY="Chave da LLM"
CORS_ORIGIN="URL da api" 

DATABASE_URL="URL do seu banco de dados"
DIRECT_URL="URL de conexão direta com seu banco de dados PostgreSQL (usado pelo Prisma para migrações)"
JWT_SECRET="your_super_secret_jwt_key"

WHATSAPP_VERIFY_TOKEN="your_whatsapp_verify_token"
META_APP_ID="your_meta_app_id"
META_APP_SECRET="your_meta_app_secret"

# Configuração Manual do Cliente (Sandbox)
CLIENT_NAME="Nome do Cliente"
CLIENT_EMAIL="email@cliente.com"
CLIENT_COMPANY_NAME="Nome da Empresa"
CLIENT_WHATSAPP_ACCESS_TOKEN="token_da_meta"
CLIENT_WHATSAPP_PHONE_NUMBER_ID="id_do_numero"
CLIENT_WHATSAPP_BUSINESS_ID="id_da_conta_comercial"